@inject Microsoft.Extensions.Localization.IStringLocalizer<ProductMvc.SharedResource> Localizer
<h1>@Localizer["Welcome"]</h1>
<a asp-controller="Product" asp-action="Index">@Localizer["ProductList"]</a>
